<!DOCTYPE html>
<html>

<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" type="text/css" title="CSS" href="/styles/style.css"/>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Logo/Nom</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="page">Jeu</a></li>
          <li><a href="reward"><span class="glyphicon glyphicon-gift"></span>  Récompenses</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="login"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
          <li><a href="register">Inscription</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid" background-color="#8CC3E3">

<div class="row">
<div class="col-xs-12">
  <div class="container">
  <div class="jumbotron">
    <h1> Bannière à venir</h1>
  </div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12">
  <br/><br/>
</div>
</div>

<div class="row">
<div class="col-xs-4">
<br/>
</div>
<div class="col-xs-4">
  <br/>
  <div class="panel panel-info">
  <div class="panel-heading">Connexion</div>
  <div class="panel-body">
  <form method="post" action="/login">
  <div class="form-group">
        <label for="mail">Adresse e-mail :</label>
        <input type="email" class="form-control" id="mail">
  </div>
  <div class="form-group">
        <label for="pwd">Mot de passe : </label>
        <input type="password" class="form-control" id="pwd">
  </div>
  <div>
  <center>
    <input type="submit" class="btn btn-info" value="Valider">
  </center>
  </div>
  </form>
</div>
</div>
  <br/>
  </div>
</div>
<div class="col-xs-4">
<br/>
</div>
</div>

<div class="row">
<div class="col-xs-12">
<br/><br/><br/>
</div>
</div>

<div class="row">
<div class="col-xs-12">
<div class="well well-sm"><center>Footer</center></div>
</div>
</div>

</div>

</body>

</html>
