<!DOCTYPE html>
<html>
<form method="post" action="/login">
<div>
<input type="text" name="username">
</div>
<div>
<input type="password" name="password">
</div>
<div>
<input type="submit">
</div>
</form>
</html>
