<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Petit jeu avant la soirée MiNET</title>
	<script src="//cdn.jsdelivr.net/phaser/2.4.3/phaser.js"></script>`
    <style type="text/css">
      body {
          margin: 0;
      }
      canvas {
        display: none !important;
      }
      canvas:last-of-type {
        display: block !important;
      }
    </style>
</head>
<body>


	<!--<script src="./js/game/boot.js"></script>
	<script src="./js/game/load.js"></script>
		<script src="./js/game/game.js"></script>-->
	<script src="./js/game/main.js"></script>
	<script src="./js/game/bulletStuff.js"></script>
